<div class="container mt-5">

  <div class="card">
    <h1>Employee Register</h1>
    <form >
        <div class="form-group">
          <label >Enter The Name</label>
          <input [(ngModel)]="empName" [ngModelOptions]="{standalone: true}" type="text" class="form-control"  placeholder="Enter The Name Here">
        </div>

        <div class="form-group">
            <label >Enter The EmailId</label>
            <input [(ngModel)]="empEmail" [ngModelOptions]="{standalone: true}" type="email" class="form-control"  placeholder="Enter The EmailId">
          </div>

          <div class="form-group">
            <label >Enter The Password</label>
            <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" class="form-control"  placeholder="Enter The Password Here">
          </div>
        <button type="submit" class="btn btn-primary mt-4 align-content-center" (click)="save()">Sign Up</button>
      </form>
    </div>
</div>